<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<ItemGroup>
		<PackageReference Include="Pomelo.EntityFrameworkCore.MySql" Version="7.0.0" />
		<PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="7.0.4"/>
	</ItemGroup>
	<connectionStrings>
		<add name="Bibliotecon"
			 providerName="MySql.Data.MySqlClient"
			 connectionString="Server=localhost;Port=3306;Database=db_bibliotecon;Uid=root;Pwd=33551427Gui$;"/>
	</connectionStrings>
</configuration>